 <!doctype html>
  <html>
  <head>
    <title>Button Swords</title>
    <link href="/game.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
     <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
      </head>
    <body>  
   <h1>Sword Buttons</h1>
<div class="container">
  <div class="row ">
    <div class="col-md-4">     
    </div>
    <div class="col-md-4">
      <button type="button" id="success" class="btn btn-success">Defend</button>
      <div id="1">You have to push Defend button <strong> <%= user.emails %></strong></div>
      <div id="1">to defend yourself</div> 
       <h1 id="health"></h1>   
    </div>
 <div class="col-md-4">
      <button type="button" id="resign" class="btn btn-warning">Resign</button>
      <div id="1">I Quit button</div>    
    </div>    
  </div>
</div> 
 <script> 
    var socket = io();

    socket.on('counts',function(c)
  { 
    document.getElementById("health").innerHTML = "Your Health is" + "&nbsp" + c + "";
  })

  var count=5;
  var socket = io();
  
  socket.on('counts',function(c) {
    $( "#health" ).html( "Health ==>" + "&nbsp" + c + "" )})
 

$( "#success" ).click(function() { 
   count++
   socket.emit('counts', count );

});

$( "#war" ).click(function() {
  count--
  socket.emit('counts', count );
  if(count==0){  
  alert("game over")
  return count=5

  }
});

// jQuery.fn.extend({
//     disable: function(state) {
//         return this.each(function() {
//             var $this = $(this);
//             $this.toggleClass('disabled', state);
//         });
//     }
// });

// $( "#war" ).click(function() {
//   $('#success').disable(true);
// });

// $( "#success" ).click(function() {
//   $('#war').disable(true);
// });
  </script>
    </body>       
    </html>
