 <!doctype html>
  <html>
  <head>
    <title>Button Swords</title>
    <link href="/game.css" rel="stylesheet" type="text/css">
    <link href="/nav.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
     <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
      </head>
    <body>  
      <div id="container">
  <ul>
  <li><a href="/players">Players</a></li>
  <li><a href="/">Login</a></li> 
  <li><a href="#">About</a></li>  
  <li><a href="#">News</a></li> 
  <li><a href="#">Contact</a></li>

</ul>
   <h1>Sword Buttons</h1>
    <h1><a href="/players">Home</li></a></h1>
<div class="container">
  <div class="row ">
    <div class="col-md-4">
    
     <input id="room" type="text"/>
    <button type="button" onclick="setRoom()" id="war" class="btn btn-danger">Set Room</button>
      <div id="1">Create a Room </div>        
    </div>        
  
    <div class="col-md-4">    
      <button onclick="sendMessage()" type="button" id="success" class="btn btn-success">Plus</button>
      <div id="1">You have to push the Plus button to win <strong> <%= user.emails %></strong></div>
      <div id="1">to defend yourself</div> 
       <h1 id="health"></h1>   
    </div>
 <div class="col-md-4">
      <button type="button" id="resign" class="btn btn-warning">Resign</button>
      <div id="1">I Quit button</div>    
    </div>    
  </div>
</div> 
 <div class="row ">
    <div class="col-md-4"> 
</div>
<div>
</div> 
</div>
 <script> 
  var socket = io();
  var count=5;
 

 socket.on('counts',function(c) {
  $( "#health" ).html( "Health ==>" + "&nbsp" + c + "" )})
 socket.on('connect', function onConnect () {
    console.log(`Connected as ${socket.id}`)
  })

  socket.on('message', function onMessage (message) {
    // add received message to page
    var $p = document.createElement("p")
    $p.appendChild(document.createTextNode(`${message.sender}: ${message.content}`))
    document.body.appendChild($p)
  })

  function setRoom () {
    socket.emit('move to room', document.getElementById('room').value)
  }

  function sendMessage () {
    // send message
     count++
    
    socket.emit('message',count)
    
    var $p = document.createElement("p")
    $( "#health" ).html( "Health ==>" + "&nbsp" + count + "" )  
    if(count===100){
      alert('win press the button')
    }
    $message.value = ''
  }

  </script>
    </body>       
    </html>
