 <!doctype html>
  <html>
  <head>
    <title>Button Swords</title>
    <link href="/login.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>    
      <script src="http://code.jquery.com/jquery-1.11.1.js"></script>   

   <h1>Sword Buttons</h1>

    <div class="wrapper">
    <form action="/login" method="post" class="form-signin">       
      <h2 class="form-signin-heading">Please Signup</h2>
      <input type="text" class="form-control" name="username" id="username" placeholder="Email Address" required="true" autofocus="" />
      <input type="password" class="form-control" name="password" id="password" placeholder="Password" required="true"/>      
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Signup</button>   
    </form>
    
    <h1> <a href="players">Enter</a> </h1>
</div>
<div class="wrapper">
<form action="/log" method="post" class="form-signin">       
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" id="username" placeholder="Email Address" required="true" autofocus="" />
      <input type="password" class="form-control" name="password" id="password" placeholder="Password" required="true"/>      
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>   
    </form>
    </div>
    </body>   
    </html>
