<head>
  <meta charset="UTF-8"/>
  <title>Web Sockets</title>
  <script src="/socket.io/socket.io.js"></script>
  <link href="/game.css" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
     <script src="http://code.jquery.com/jquery-1.11.1.js"></script>     
</head>
<body>
 <h1>Sword Buttons</h1>
<h2>Send the code to play</h2>
</body>
</html>