<!doctype html>
  <html>
  <head>
    <title>Button Swords</title>
    <link href="/game.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>   
      <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
      <script src="http://code.jquery.com/jquery-1.11.1.js"></script>       
   <script>
    var socket = io();
    </script>
   <h1>Sword Buttons</h1>
  <a href="/back"> <h1> My profile</li></a></h1>
   <h2>Board of the warriors</h2>
   <div class="container">
  <div class="row">
  <% user.forEach(function(users) { %>
   <ul class="list-group">
   <li class="list-group-item">
   <a href="players/<%= users.emails %>"><%= users.emails %></li>  
   <% }) %> 
</ul>
  </div>
</div> 
    </body>
    <script src="game.js"> </script>
    </html>


 