  <!doctype html>
  <html>
  <head>
    <title>Button Swords</title>
    <link href="/game.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>   
     
      <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
      <script src="http://code.jquery.com/jquery-1.11.1.js"></script>      
      <script> 
var socket = io();
    socket.on('counts',function(c)
  { document.getElementById("health").innerHTML = "Your Health is" + "&nbsp" + c + "";      }  )
  </script>
   <h1>Sword Buttons</h1>
<div class="container">
  <div class="row ">
    <div class="col-md-4">
    
      <button type="button" id="war" class="btn btn-danger">War!</button>
      <div id="1">You have to hit the war button </div>   
      <div id="1">Until <strong><%=user.emails%> </strong> dies</div> 
    </div>
    <%=console.log(user.emails)%>
    <div class="col-md-4">    
       <h1 id="health"></h1>   
    </div>
 <div class="col-md-4">
      <button type="button" id="resign" class="btn btn-warning">Resign</button>
      <div id="1">I Quit button</div>    
    </div>    
  </div>
</div> 
    </body>
   
    </html>
